@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    list-style:none;
}
html,
body{
    background-color: #fff;
    height:100%;
}
img{
    display:block;
    width: 100%;
}
.container{
    width: 100%;
    height: 100%;
    max-width:640px;
    min-width:320px;
    margin:0 auto;
    position: relative;
    overflow:hidden;
    padding-top:45px;
    padding-bottom:55px;
}
/*头部样式开始*/
.lt_header{
    width: 100%;
    height: 45px;
    position: absolute;
    top:0;
    left:0;
    background-color: #069;
}
.lt_header a{
    color:#fff;
}

.lt_header .icon_left,
.lt_header .icon_right{
    position: absolute;
    top:0;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height:45px;
}
.lt_header .icon_left{
    left:0;
}
.lt_header .icon_right{
    right:0;
}
.lt_header h4{
    text-align:center;
    color:#fff;
    margin:0;
    line-height:45px;
    font-weight: 400;
}


/*中间主体部分*/
.lt_main{
    width: 100%;
    height: 100%;
    position: relative;
}


/*尾部样式开始*/
.lt_footer{
    width: 100%;
    height: 55px;
    background-color: #069;
    position: absolute;
    bottom:0;
    left:0;
}
.lt_footer li{
    text-align:center;
    float:left;
    width: 25%;
    margin-top:8px;
}
.lt_footer li.current a{
    color: darkorange;
}
.lt_footer li.current p{
    color: darkorange;
}
.lt_footer li a{
    color:#fff;
}
.lt_footer li p{
    color:#fff;
}